* {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 1rem;
}

header h5 {
  align-self: flex-start;
  font-size: large;
}

.review-categories {
  text-decoration: none;
  color: black;
}

.votes {
  justify-content: center;
  /* align-self: flex-start; */
}
.comment-btn {
  margin: 1rem;
}

.polaroid {
  border-radius: 8px;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 25px;
  margin-bottom: 25px;
}

.container {
  text-align: center;
  padding: 5px 10px;
}

.page-container {
  border: solid 0.31rem rgb(209, 145, 224);
  margin: 2rem;
}
.review-container {
  border: solid 0.12rem rgb(209, 145, 224);
  padding: 12px;
  margin: 0.7rem;
}

.votes p {
  margin: 0.6rem;
}
body img {
  width: 100%;
  height: auto;
}
